@charset "UTF-8";
/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff2") format("woff2"), url("../fonts/Montserrat-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-cart:before {
  content: "\e900";
}

._icon-delet:before {
  content: "\e902";
}

._icon-instagram:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-plus:before {
  content: "\e905";
}

._icon-search:before {
  content: "\e906";
}

._icon-youtube:before {
  content: "\e907";
}

._icon-telegram:before {
  content: "\e908";
}

._icon-arrow:before {
  content: "\e909";
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #05c3de;
  --bs-btn-border-color: #05c3de;
  --bs-btn-hover-color: #05c3de;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #05c3de;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #05c3de;
  --bs-btn-active-border-color: #05c3de;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05c3de;
  --bs-btn-disabled-border-color: #05c3de;
}

:root {
  --bs-blue: #05c3de;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #0d0d0d;
  --bs-success: #e2e6ee;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 5, 195, 222;
  --bs-secondary-rgb: 13, 13, 13;
  --bs-success-rgb: 226, 230, 238;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #edf0f5;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #05c3de;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #05c3de;
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #05c3de;
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

picture {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  padding: 0 10px;
}

.title {
  position: relative;
  padding-left: 35px;
}
.title::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #05c3de;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.subtitle {
  font-size: 40px;
  line-height: 110%;
  color: #fff;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fs-14 {
  font-size: 0.875rem;
  line-height: 130%;
}

.fs-16 {
  font-size: 1rem;
  line-height: 130%;
}

.fs-20 {
  font-size: 1.25rem;
  line-height: 130%;
}

.fs-24 {
  font-size: 1.5rem;
  line-height: 130%;
}

.fs-32 {
  font-size: 2rem;
  line-height: 130%;
}

.fs-30 {
  font-size: 1.875rem;
  line-height: 130%;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  padding: 45px 20px;
  width: 100%;
  max-width: 640px;
}
.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

body {
  background-color: #0d0d0d;
}

.burger {
  display: none;
  height: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.burger__inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger__inner span, .burger__inner::before, .burger__inner::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0px;
  position: absolute;
  height: 3px;
  background-color: #fff;
}
.burger__inner span {
  width: 21px;
}
.burger__inner::before {
  width: 30px;
  top: 0px;
}
.burger__inner::after {
  width: 13px;
  bottom: 0px;
}
.burger__inner span {
  top: calc(50% - 1px);
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 30px;
}

/**
 * Swiper 7.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2021
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 0.3s opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 0.2s transform, 0.2s top;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s left;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 0.2s transform, 0.2s right;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  animation: swiper-preloader-spin 1s infinite linear;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg);
  }
}
.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

.promo .container {
  position: relative;
}
.promo__bg {
  background-repeat: no-repeat;
  background-position: 50% 135px;
  background-size: auto;
  background-image: url("../img/waves.png");
}
.promo__content {
  padding-top: 255px;
}
.promo__btn {
  position: relative;
}
.promo__btn--visitor {
  text-align: left;
  padding-left: 130px;
}
.promo__span {
  display: block;
}
.promo__span--visitor {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/gift.svg");
  position: absolute;
  left: 75px;
  top: 50%;
  width: 24px;
  height: 24px;
}
.promo__span--visitor::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #05c3de;
  width: 55px;
  height: 55px;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.promo__scroll {
  position: absolute;
  left: 15px;
  bottom: 95px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: auto 100%;
  background-image: url("../img/icons/mouse.svg");
}
.promo__scroll::before {
  content: "";
  display: block;
  height: 1px;
  width: 156px;
  background-color: #222224;
  position: absolute;
  bottom: 50%;
  left: -190%;
}
.promo__title {
  max-width: 550px;
  --promo-title-font-size: clamp(40px, 5.9vw + 18.77px, 64px);
  font-size: var(--promo-title-font-size);
  line-height: 110%;
  padding-left: 0;
}
.promo__title::before {
  display: none;
}
.promo__subtitle {
  margin-bottom: 64px;
}
.promo .box-border {
  width: 40px;
  height: 40px;
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  cursor: pointer;
}
.promo .box-border:hover {
  transition: all 0.3s ease-in-out;
}
.promo .box-border:hover .box-circle {
  background: #e2e6ee;
}
.promo .box-border--gift {
  width: 55px;
  height: 55px;
}
@media only screen and (max-width: 575px) {
  .promo .box-border--gift {
    display: none;
  }
}
.promo .box-circle {
  background: #222224;
  width: 36px;
  height: 36px;
}
.promo .box-circle--gift {
  width: 51px;
  height: 51px;
}
.promo__box-img {
  padding-top: 195px;
}
.promo__ellipse1 {
  width: 226px;
  height: 226px;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  right: 0;
  background-color: #cd7efc;
  filter: blur(150px);
}
.promo__ellipse2 {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  position: absolute;
  top: 26%;
  left: 0;
  background-color: #05c3de;
  filter: blur(150px);
}
.promo__box {
  top: -80px;
  z-index: -1;
}
@media only screen and (max-width: 991px) {
  .promo__box {
    top: 0;
  }
}

.contacts {
  padding: 70px 0 0;
}
@media only screen and (max-width: 991px) {
  .contacts {
    padding-bottom: 50px;
  }
}
.contacts__content {
  z-index: 2;
  position: relative;
}
.contacts__title {
  line-height: 110%;
  margin-bottom: 30px;
}
.contacts__title::before {
  background-color: #fff;
}
.contacts__box {
  position: relative;
}
.contacts__box::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -30px;
  top: 0;
}
.contacts__box--map::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/map-white.svg");
}
.contacts__box--metro::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/metro-white.svg");
  width: 16px;
  height: 12px;
  top: 22px;
}
.contacts__box--time::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/time-white.svg");
}
.contacts a:hover {
  color: #222224;
}
.contacts__btn a {
  position: relative;
}
.contacts__btn a:hover {
  color: #222224;
}
.contacts__btn a:hover::before {
  background-color: #222224;
  width: 100%;
}
.contacts__btn a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #fff;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.contacts__box-img {
  z-index: 1;
}
.contacts__box-img--left {
  left: 1%;
  bottom: 12%;
}
.contacts__box-img--right {
  right: 10%;
  bottom: 29%;
}
@media only screen and (max-width: 991px) {
  .contacts__box-img--right {
    bottom: 8%;
  }
}
.contacts .box-border--big {
  width: 486px;
  height: 486px;
  position: absolute;
  top: 32%;
  left: 28%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 991px) {
  .contacts .box-border--big {
    top: 40%;
    left: 40%;
  }
}
.contacts .box-border--center {
  width: 338px;
  height: 338px;
  position: absolute;
  top: 32%;
  left: 28%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 991px) {
  .contacts .box-border--center {
    top: 40%;
    left: 40%;
  }
}
.contacts .box-circle--big {
  width: 482px;
  height: 482px;
}
.contacts .box-circle--center {
  width: 334px;
  height: 334px;
}
.contacts__bottom {
  top: -110px;
  z-index: 3;
}
@media only screen and (max-width: 1199px) {
  .contacts__bottom {
    top: -50px;
  }
}
@media only screen and (max-width: 991px) {
  .contacts__bottom {
    top: 0;
  }
}

.promo-main__btn {
  position: relative;
}
.promo-main__btn--visitor {
  text-align: left;
  padding-left: 130px;
}
.promo-main__span {
  display: block;
}
.promo-main__span--visitor {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/gift.svg");
  position: absolute;
  left: 75px;
  top: 50%;
  width: 24px;
  height: 24px;
}
.promo-main__span--visitor::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #05c3de;
  width: 55px;
  height: 55px;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.promo-main__scroll {
  position: absolute;
  left: 15px;
  bottom: 95px;
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: auto 100%;
  background-image: url("../img/icons/mouse.svg");
}
.promo-main__scroll::before {
  content: "";
  display: block;
  height: 1px;
  width: 156px;
  background-color: #222224;
  position: absolute;
  bottom: 50%;
  left: -190%;
}
.promo-main .carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 18px;
  bottom: 90px;
  left: -38%;
}
@media only screen and (max-width: 575px) {
  .promo-main .carousel-indicators {
    left: 0;
  }
}
.promo-main .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #05c3de;
}
.promo-main .carousel-indicators li.active {
  position: relative;
}
.promo-main .carousel-indicators li.active::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #05c3de;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.promo-main .carousel-item {
  background-repeat: no-repeat;
  background-position: 110% 50%;
  background-size: auto 100%;
  background-image: url("../img/promo-main.png");
  padding-top: 345px;
  padding-bottom: 280px;
}
@media only screen and (max-width: 991px) {
  .promo-main .carousel-item {
    padding: 200px 0;
  }
}
.promo-main .carousel-control-prev {
  left: -16%;
}
.promo-main .carousel-control-prev-icon,
.promo-main .carousel-control-next-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow.svg");
  width: 11px;
  height: 8px;
}
.promo-main .carousel-control-next {
  right: -16%;
}
.promo-main .carousel-control-next-icon {
  transform: rotate(180deg);
}

.about {
  padding: 45px 0 105px;
}
.about__subtitle {
  margin-bottom: 34px;
}
.about__box-text p {
  margin-bottom: 0;
}
.about__box-img {
  margin-top: 45px;
  position: relative;
}
.about__box-border--big {
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  padding: 2px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 50%;
  width: 502px;
  height: 502px;
}
.about__box-border--center {
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  padding: 2px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  border-radius: 50%;
  width: 348px;
  height: 348px;
}
.about__box-border--small {
  width: 177px;
  height: 177px;
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #05c3de;
  filter: blur(150px);
}
.about__box-circle--big {
  border-radius: 50%;
  background: #0d0d0d;
  width: 498px;
  height: 498px;
}
.about__box-circle--center {
  border-radius: 50%;
  background: #0d0d0d;
  width: 344px;
  height: 344px;
}
.about__content-border {
  position: absolute;
  bottom: -50px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  padding: 2px;
  border-radius: 10px;
}
.about__content {
  padding: 26px 24px 20px;
  background: #0d0d0d;
  border-radius: 10px;
}
.about__content p:nth-child(2) {
  min-width: 300px;
}
.about__box-content {
  margin-bottom: 55px;
}
.about__box-border {
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  padding: 2px;
  border-radius: 10px;
}
.about .box-border {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 50%;
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}
.about .box-circle {
  background: #222224;
}
.about__box {
  position: relative;
  background: #0d0d0d;
  padding: 45px 20px 10px;
  min-height: 120px;
  border-radius: 10px;
}
.about__box-gift {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #0d0d0d;
}
.about__blockquote {
  font-family: "Montserrat-Italic";
  font-style: italic;
  color: #fff;
  margin-top: 120px;
  padding-bottom: 20px;
  border-bottom: 1px solid #222224;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .about__blockquote {
    margin-top: 60px;
  }
}
.about__blockquote::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/quotation.svg");
  position: absolute;
  top: -25px;
  left: 0;
  width: 22px;
  height: 19px;
}

.halls {
  background-image: url("../img/icons/2255.svg");
  background-repeat: repeat-y;
  background-position: 86% center;
  padding: 84px 0 100px;
}
.halls__subtitle {
  margin-bottom: 40px;
  max-width: 450px;
}
.halls .carousel__subtitle {
  font-size: 32px;
  line-height: 110%;
  margin: 30px 0 20px;
}
.halls .carousel__box-top {
  border-bottom: 1px solid #e2e6ee;
}
.halls .carousel__description {
  --carousel-description-font-size: clamp(26px, 1.47vw + 20.69px, 32px);
  font-size: var(--carousel-description-font-size);
  line-height: 130%;
}
.halls .carousel__box-text p {
  margin-bottom: 0;
}
.halls .carousel-control-prev {
  left: -17%;
}
.halls .carousel-control-prev-icon,
.halls .carousel-control-next-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow.svg");
  width: 11px;
  height: 8px;
}
.halls .carousel-control-next {
  right: -17%;
}
.halls .carousel-control-next-icon {
  transform: rotate(180deg);
}
.halls .box-border {
  width: 40px;
  height: 40px;
  background: linear-gradient(47.45deg, #05C3DE 13.8%, rgba(5, 195, 222, 0) 87.06%);
  cursor: pointer;
}
.halls .box-border:hover {
  transition: all 0.3s ease-in-out;
}
.halls .box-border:hover .box-circle {
  background: #e2e6ee;
}
.halls .box-circle {
  width: 36px;
  height: 36px;
  background: #fff;
}

.services {
  padding: 115px 0 125px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/services.png");
}
.services__subtitle {
  margin-bottom: 70px;
}
.services__box {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid #05c3de;
  border-radius: 10px;
  padding: 50px 15px;
  position: relative;
}
.services__box::before {
  content: "";
  display: block;
  backdrop-filter: blur(12.5px);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.services__description {
  text-align: center;
}
.services__text {
  text-align: center;
}
@media only screen and (max-width: 360px) {
  .services__text {
    font-size: 14px;
  }
}
.services__text--pseudo {
  position: relative;
}
.services__text--pseudo::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
  background-color: #05c3de;
}
.services .box-border {
  position: absolute;
  right: 0;
  top: 20px;
  width: 40px;
  height: 40px;
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  cursor: pointer;
}
.services .box-border:hover {
  transition: all 0.3s ease-in-out;
}
.services .box-border:hover .box-circle {
  background: #e2e6ee;
}
.services .box-circle {
  background: #0d0d0d;
  width: 36px;
  height: 36px;
}
.services__arrow {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/arrow.svg");
  width: 11px;
  height: 8px;
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.services .services__span {
  --services-span-margin-right: clamp(10px, 9.67vw + -64.29px, 75px);
  margin-right: var(--services-span-margin-right);
}
.services button[aria-expanded=true] .services__arrow {
  transform: rotate(270deg);
}
.services .card {
  background-color: transparent;
  border-bottom: 1px solid #222224;
}
.services .card__btn {
  --card-btn-font-size: clamp(14px, 2.35vw + 6.47px, 20px);
  font-size: var(--card-btn-font-size);
}
@media only screen and (max-width: 360px) {
  .services .card__btn {
    text-align: left !important;
  }
}
.services .card-body ul {
  padding-left: 100px;
  max-width: 290px;
}
@media only screen and (max-width: 991px) {
  .services .card-body ul {
    padding-left: 0;
  }
}
.services .card-body ul li {
  position: relative;
  line-height: 130%;
}
.services .card-body ul li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
.services__ellipse {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  position: absolute;
  bottom: -8%;
  left: 0;
  background-color: #05c3de;
  filter: blur(150px);
  z-index: -2;
}

.cafe {
  background-image: url("../img/icons/2255.svg");
  background-repeat: repeat-y;
  background-position: 86% center;
  padding: 100px 0 140px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .cafe {
    padding: 80px 0;
  }
}
.cafe::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/cafe.png");
  width: 100%;
  height: 100%;
  max-width: 705px;
  max-height: 595px;
  position: absolute;
  top: 50%;
  right: -18%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .cafe::before {
    display: none;
  }
}
.cafe .row {
  z-index: 2;
}
.cafe__subtitle {
  max-width: 250px;
  margin-bottom: 40px;
}
.cafe__text {
  line-height: 130%;
}
.cafe__box {
  line-height: 130%;
}
.cafe .box-border {
  background: linear-gradient(47.45deg, #05c3de 13.8%, rgba(5, 195, 222, 0) 87.06%);
}
.cafe .box-circle {
  background: #fff;
}

.infrastructure {
  padding: 105px 0 60px;
}
.infrastructure .container {
  position: relative;
}
.infrastructure__content {
  margin-top: 45px;
}
.infrastructure .box-border {
  background: linear-gradient(47.45deg, #05c3de 13.8%, rgba(5, 195, 222, 0) 87.06%);
}
.infrastructure .box-circle {
  background: #0d0d0d;
}
.infrastructure__ellipse1 {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #cd7efc;
  filter: blur(150px);
}
.infrastructure__ellipse2 {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #05c3de;
  filter: blur(150px);
}

.social-project {
  padding: 45px 0 105px;
}
.social-project__border {
  position: relative;
  padding: 50px 35px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #05c3de;
  border-radius: 10px;
}
.social-project__border::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12.5px);
  z-index: -1;
}
.social-project__border::after {
  content: "";
  display: block;
  width: 160px;
  height: 87px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/55.svg");
  position: absolute;
  bottom: -55px;
  right: 0%;
  z-index: -2;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.form__body {
  height: 100%;
  width: 100%;
  border: none;
  display: flex;
  gap: 16px;
  position: relative;
}
.form__box {
  position: relative;
}
.form__input {
  width: 276px;
  height: 78px;
  background-color: #fff;
  border-radius: 33px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #05c3de;
  padding: 0 20px;
  position: relative;
}
.form__input::placeholder {
  font-size: 20px;
  line-height: 20px;
  color: #05c3de;
}
.form__input:focus-visible, .form__input:focus, .form__input:active {
  border: 1px solid #000;
}
.form__input:focus, .form__input:focus-visible {
  outline-color: #000;
}
.form__input:focus ~ .form__label, .form__input:valid ~ .form__label {
  top: -20px;
  color: #fff;
}
.form__label {
  font-size: 20px;
  line-height: 20px;
  color: #05c3de;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}
.form__btn {
  width: 276px;
  height: 78px;
  transition: all 0.2s ease-in-out;
  color: #fff;
  background: #05c3de;
  border-radius: 33px 0px;
  font-size: 45px;
  line-height: 45px;
  transition: all 0.3s ease 0s;
}
.form__btn:hover {
  background: #fff;
  color: #222224;
}
.form__checkbox {
  margin-bottom: 1.1875rem;
  max-width: 525px;
  padding-left: 30px;
}

.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: flex-end;
}
.checkbox__label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/check.svg");
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.checkbox__label::after {
  content: "";
  align-self: flex-start;
  flex: 0 0 25px;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  background-color: #fff;
  margin-right: 0.875rem;
}
.checkbox__text {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

.checkbox__input:checked + .checkbox__label::before {
  opacity: 1;
}

.programs {
  padding: 35px 0 90px;
}
.programs__subtitle {
  margin-bottom: 32px;
}
.programs__box-border {
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
  padding: 2px;
  border-radius: 10px;
}
.programs__box {
  position: relative;
  background: #0d0d0d;
  padding: 45px 20px 10px;
  min-height: 120px;
  border-radius: 10px;
}
.programs .box-border {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 50%;
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}
.programs .box-circle {
  background: #222224;
}

.trends {
  padding: 115px 0;
}
.trends__subtitle {
  max-width: 530px;
}
.trends__content {
  border-top: 1px solid #edf0f5;
}
.trends__item {
  position: relative;
}
.trends__item::before, .trends__item::after {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  background-color: #EDF0F5;
}
.trends__item::before {
  left: 0;
}
.trends__item::after {
  right: -1px;
}
.trends__box-img img, .trends__box-img picture {
  width: 100%;
}
.promo-cards {
  padding-bottom: 65px;
}
.promo-cards__title {
  max-width: 400px;
}
.promo-cards__subtitle {
  max-width: 500px;
}
.cards {
  padding: 130px 0;
}
.cards__subtitle {
  max-width: 550px;
  margin-bottom: 80px;
}
.cards__item {
  padding: 30px;
}
.cards__box-border {
  top: -12px;
}
.cards .box-border {
  background: linear-gradient(61.29deg, #05c3de 11.43%, rgba(5, 195, 222, 0) 91.01%), linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}
.cards .box-circle {
  background: #222224;
}
.cards__list {
  padding-top: 36px;
}
.cards__list li {
  position: relative;
}
.cards__list li::before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0d0d0d;
  position: absolute;
  top: 10px;
  left: -15px;
}
.cards__content {
  padding-top: 40px;
}
.popup__content {
  background-color: #0d0d0d;
  border-radius: 40px;
}
.popup__close {
  position: absolute;
  top: 25px;
  right: 10px;
}
.popup__close svg {
  width: 30px;
  height: 30px;
}
.popup .form__body {
  flex-direction: column;
}
.popup .form__input {
  border-color: #fff;
  width: 100%;
}
.popup .form__input:focus ~ .form__label, .popup .form__input:valid ~ .form__label {
  top: 50%;
  opacity: 0;
}
.popup .form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.popup .form__btn {
  width: 100%;
}

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #0d0d0d;
}
.header__box {
  position: relative;
}
.header__box--map::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/map.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.header__box--metro::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/metro.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.header__box--time::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/time.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.header__box--tel::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/tel.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
.header__menu {
  position: fixed;
  left: -100%;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all 0.2s ease;
}
@media only screen and (min-width: 991px) {
  .header__menu {
    position: relative;
    left: 0;
    z-index: 10;
  }
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.header__link {
  position: relative;
}
.header__link:hover::before {
  background-color: #05c3de;
  width: 100%;
}
.header__link::before {
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #05c3de;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ease-in-out;
}
.header__btn {
  position: relative;
}
.header__btn--enter {
  text-align: left;
}
.header__btn--enter::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/enter.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1199px) {
  .header__btn--enter::before {
    right: 10px;
  }
}
@media only screen and (max-width: 991px) {
  .header__btn--enter::before {
    display: none;
  }
}
.header__btn--mail {
  text-align: right;
}
.header__btn--mail::before {
  content: "";
  display: block;
  background-color: #05c3de;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
@media only screen and (max-width: 991px) {
  .header__btn--mail::before {
    left: 15px;
  }
}
.header__social-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #222224;
}
.footer {
  padding: 40px 0;
}
.footer__social-list {
  max-width: 60px;
}
.footer__social-item {
  width: 25px;
  height: 25px;
  background-color: #222224;
}
.footer__box {
  padding-left: 36px;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .footer__box {
    padding-left: 0;
  }
}
.footer__box::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 575px) {
  .footer__box::before {
    display: none;
  }
}
.footer__box--map::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/map.svg");
}
.footer__box--time::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/time.svg");
}
.footer__box--tel::before {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/tel.svg");
}
.open .header__menu {
  left: 0;
  background: rgba(13, 13, 13, 0.9);
}
.open .header__list {
  gap: 20px;
}

.box-border {
  width: 55px;
  height: 55px;
  padding: 2px;
  background: linear-gradient(47.45deg, #ffffff 13.8%, rgba(255, 255, 255, 0) 87.06%);
  border-radius: 50%;
}

.box-circle {
  background: #05c3de;
  border-radius: 50%;
  width: 51px;
  height: 51px;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
