.cafe {
	background-color: $secondColor;
	background-image: url("@img/icons/2255.svg"), url("@img/cafe.png");
	background-repeat: repeat-y, no-repeat;
	background-position: 86% center, 87% center;
	padding: 100px  0 140px;
	
	// .cafe__title
	&__title {}
	// .cafe__subtitle
	&__subtitle {
		max-width: 250px;
		margin-bottom: 40px;
	}
	// .cafe__text
	&__text {
		line-height: 130%;
	}
	// .cafe__content
	&__content {}
	// .cafe__btn
	&__btn {}
	// .cafe__box-border
	&__box-border {}
	// .cafe__box
	&__box {}
	// .cafe__span
	&__span {}
}
.container {
}
.row {
}
.col-5 {
}
.title {
}
.text-primary {
}
.fs-14 {
}
.fw-500 {
}
.mb-4 {
}
.subtitle {
}
.text-secondary {
}
.fw-700 {
}
.text {
}
.fs-16 {
}
.btn {
}
.col-6 {
}
.fw-600 {
}
.promo {
	// .promo__span
	&__span {}
}
.fw-800 {
}
.d-block {
}
.fw-400 {
}
