
.gallery {
  padding: 20px 0 80px;
  // .gallery__title
  &__title {
    margin-bottom: 55px;
  }
  // .gallery__content
  &__content {
    @include flex(space-between);

  }
  .with-sidebar {
    max-width: 44%;
   
  }
  // .gallery__list
  &__list {
    @include flex($flex-direction: column);
    gap: 60px;
    margin-top: 40px;
   
  }
  // .gallery__item
  &__item {
    @include flex($align-items: center);
   
  }
  // .gallery__tab
  &__tab {
    @include flex($flex-direction: column);
    width: 100%;
    max-width: 365px;
    

    &.active {
      max-width: 451px;

      padding: 4px 15px;
      position: relative;
      z-index: 11;
    
      &::before {
        @include pseudo;
        @include wh(451px, 129px);
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        background: linear-gradient(84.14deg, #7200ff -0.11%, #ff0202 100%);
        clip-path: polygon(0% 0%, 86% 0%, 98% 50%, 86% 100%, 0% 100%);
        z-index: -1;
      
      }

      .gallery__subtitle {
        opacity: 1;
        margin-bottom: 10px;
      }
      .gallery__text {
        opacity: 1;
      }
    }
  }
  // .gallery__counter
  &__counter {
    font-family: "BOWLER";
    font-style: normal;
    font-weight: 400;
    font-size: 59px;
    line-height: 65px;

    opacity: 0.2;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
   
  }
  // .gallery__subtitle
  &__subtitle {
    opacity: 0.5;
  }
  // .gallery__text
  &__text {
    opacity: 0.5;
   
  }
  // .gallery__tabpanel-container
  &__tabpanel-container {
    max-width: 62%;
    position: relative;
   
  }

  .tabpanel {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .tabpanel.active {
    position: relative;
    z-index: 10;
    opacity: 1;
  }

  .swiper__item {
    img,
    picture {
      width: 100%;
    }
  }
  .swiper-pagination {
    @include flex(space-between, center);
    gap: 8px;
    max-width: 80px;
    margin-left: auto;
    margin-top: 40px;
  }
  .swiper-pagination-bullet {
    display: block;
    width: 14px;
    height: 15px;
    border-radius: 50%;

    background: #2c2c2c;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background: linear-gradient(84.14deg, #7200ff -0.11%, #ff0202 100%), #2c2c2c;
  }
  .swiper-button-next {
    position: absolute;
    width: 90px;
    height: 90px;
    right: -45px;
    top: 40%;
    border-radius: 50%;
    cursor: pointer;

    background: linear-gradient(84.14deg, #7200ff -0.11%, #ff0202 100%);
    border: 5px solid #000;
    &::before {
      @include pseudo;
      @include background(url("@img/icons/arrow.svg"));
      @include wh(14px, 24px);
      right: 30%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}
