.halls {
  background-color: $secondColor;
  background-image: url("@img/icons/2255.svg");
  background-repeat: repeat-y;
  background-position: 86% center;
  padding: 84px 0 100px;
  // .halls__title
  &__title {
  }
  // .halls__subtitle
  &__subtitle {
    margin-bottom: 40px;
    max-width: 450px;
  }
  .carousel {
    // .carousel__subtitle
    &__subtitle {
      font-size: 32px;
      line-height: 110%;
      margin: 30px 0 20px;
    }
    // .carousel__text
    &__text {
      line-height: 130%;
    }

    // .carousel__box-top
    &__box-top {
      border-bottom: 1px solid $successColor;
      padding: 36px 0 15px;
    }
    // .carousel__description
    &__description {
      --carousel-description-font-size: clamp(26px, 1.47vw + 20.69px, 32px);
      font-size: var(--carousel-description-font-size);
      // font-size: 32px;
      line-height: 130%;
    }

    // .carousel__box-bottom
    &__box-bottom {
      padding: 22px 0 15px;
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
  }
  .carousel-control-prev {
    left: -17%;
  }
  .carousel-control-prev-icon {
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    @include background(url("@img/icons/arrow.svg"));
    width: 11px;
    height: 8px;
  }
  .visually-hidden {
  }
  .carousel-control-next {
    right: -17%;
  }
  .carousel-control-next-icon {
    transform: rotate(180deg);
  }
  .box-border {
    @include wh(40px);
    background: linear-gradient(
        61.29deg,
        #05c3de 11.43%,
        rgba(5, 195, 222, 0) 91.01%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
  }
  .box-circle {
    @include wh(36px);
    background: $secondColor;
  }
}
