.services {
  padding: 110px 0 75px;
  position: relative;
  @include background(url("@img/services.png"));
  // .services__title
  &__title {
  }
  // .services__subtitle
  &__subtitle {
    max-width: 330px;
  }
  // .services__box
  &__box {
    // position: absolute;
    left: 165px;
    bottom: 14%;
    max-width: 445px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid $mainColor;

    backdrop-filter: blur(12.5px);

    border-radius: 10px;
    padding: 50px 15px;
  }
  // .services__description
  &__description {
    font-size: 32px;
    line-height: 130%;

    text-align: center;

    color: $textMainColor;
  }
  // .services__text
  &__text {
    line-height: 130%;
    text-align: center;

    color: $textMainColor;
    &--pseudo {
      position: relative;
      &::before {
        @include pseudo;
        @include wh(10px);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);

        background-color: $mainColor;
      }
    }
  }

  // .services__btn
  &__btn {
  }
  .box-border {
    position: absolute;
    right: 0;
    top: 20px;
    @include wh(40px);
    background: linear-gradient(
        61.29deg,
        #05c3de 11.43%,
        rgba(5, 195, 222, 0) 91.01%
      ),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
  }
  .box-circle {
    background: $accentColor;
    @include wh(36px);
  }
  // .services__arrow
  &__arrow {
    @include background(url("@img/icons/arrow.svg"));
    width: 11px;
    height: 8px;
    transform: rotate(180deg);
  }
  .services__span {
    --services-span-margin-right: clamp(10px, 9.67vw + -64.29px, 75px);
    margin-right: var(--services-span-margin-right);
    @include media (max, lg){
      // margin-right: 0;
    }
    // margin-right: 75px;
  }
  button[aria-expanded="true"] {
    .services__arrow {
      transform: rotate(270deg);
    }
  }
  .card {
    background-color: transparent;
    border-bottom: 1px solid $thirdColor;

    // .card__btn
    &__btn {
      
      --card-btn-font-size: clamp(16px, 1.57vw + 10.98px, 20px);
      font-size: var(--card-btn-font-size);
      // font-size: 20px;
    }

    // .services__box-border
    &__box-border {
    }
    // .services__box-circle
    &__box-circle {
    }

    .card-header {
    }
  }
  .card-body {
    ul {
      padding-left: 100px;
      max-width: 290px;
      @include media(max, lg){
        padding-left: 0;
      }
      li {
        position: relative;
        line-height: 130%;
        &::before {
          @include pseudo;
          @include wh(5px);
          border-radius: 50%;
          position: absolute;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $secondColor;
        }
      }
    }
  }

  // .services__ellipse
  &__ellipse {
    @include wh(177px);
    border-radius: 50%;
    position: absolute;
    bottom: -8%;
    left: 0;

    background-color: #05c3de;
    filter: blur(150px);
    z-index: -2;
  }
}
