.services {
  padding: 110px 0 250px;
  position: relative;
  @include background(url("@img/services.png"));
  // .services__title
  &__title {
  }
  // .services__subtitle
  &__subtitle {
    max-width: 330px;
  }
  // .services__box
  &__box {
    position: absolute;
    left: 165px;
    bottom: 14%;
    max-width: 445px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid $mainColor;

    backdrop-filter: blur(12.5px);

    border-radius: 10px;
    padding: 50px 15px;
  }
  // .services__description
  &__description {
    font-size: 32px;
    line-height: 130%;

    text-align: center;

    color: $textMainColor;
  }
  // .services__text
  &__text {
    line-height: 130%;
    text-align: center;

    color: $textMainColor;
    &--pseudo {
      position: relative;
      &::before {
        @include pseudo;
        @include wh(10px);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);

        background-color: $mainColor;
      }
    }
  }

  // .services__btn
  &__btn {
  }
  .card {
    background-color: transparent;
    border-bottom: 1px solid $thirdColor;

    // .card__btn
    &__btn {
    }
    .card-header {
      span {
        margin-right: 75px;
      }
    }
  }
  .card-body {
    ul {
      padding-left: 100px;
      max-width: 290px;
      li {
        position: relative;
        line-height: 130%;
        &::before {
          @include pseudo;
          @include wh(5px);
          border-radius: 50%;
          position: absolute;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: $secondColor;
        }
      }
    }
  }
}
.container {
}
.title {
}
.text-primary {
}
.fs-14 {
}
.fw-500 {
}
.mb-4 {
}
.row {
}
.col-6 {
}
.subtitle {
}
.fw-700 {
}
.accordion {
}
.card {
}

.mb-0 {
}
.btn {
}
.btn-link {
}
.btn-block {
}
.text-left {
}
.collapse {
}
.card-body {
}
.collapsed {
}
.show {
}
.col-5 {
}
.text {
}
.d-flex {
}
.fs-16 {
}
.fw-600 {
}
.px-2 {
}
.py-3 {
}
.btn-primary {
}
.btn-sm {
}
