.vacansies {
  padding-top: 125px;
  // .vacansies__title
  &__title {
  }
  // .vacansies__subtitle
  &__subtitle {
    max-width: 400px;
  }
  // .vacansies__box-border
  &__box-border {
    padding: 2px;
    border-radius: 10px;
    background: linear-gradient(0deg, #05c3de, #05c3de),
      linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
      );
    &--form {
    }
  }
  // .vacansies__box-border--form
  &__box-border--form {
  }
  // .vacansies__box
  &__box {
    &--form {
      background: #0d0d0d;
      padding: 50px 58px;

      border-radius: 10px;
    }
    &::before {
      @include pseudo;
      backdrop-filter: blur(12.5px);
      @include wh(100%);
      border-radius: 10px;
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
  // .vacansies__box--form
  &__box--form {
  }
  // .vacansies__form
  &__form {
    gap: 0;
    justify-content: flex-start;
    z-index: 1;
  }
  .form {
    // .form__body
    &__body {
    }
    // .form__box
    &__box {
    }
    // .form__input
    &__input {
      background-color: $secondColor;
      border-radius: 5px;
      color: #878787;
    }
    // .form__label
    &__label {
     
	  &--bg{

	  }
    }
    // .form__textarea
    &__textarea {
      background-color: $secondColor;
      border-radius: 5px;
      color: #878787;
    }
    // .form__btn
    &__btn {
    }
  }
  // .vacansies__text
  &__text {
  }
  // .vacansies__box-circle
  &__box-circle {
  }
  // .vacansies__span
  &__span {
  }
  // .vacansies__arrow
  &__arrow {
  }
}
.container {
}
.title {
}
.text-primary {
}
.fs-14 {
}
.fw-500 {
}
.mb-4 {
}
.subtitle {
}
.fw-700 {
}
.mb-5 {
}
.row {
}
.col-6 {
}
.h-100 {
}

.d-flex {
}
.flex-column {
}
.fs-32 {
}
.text-center {
}
.text {
}
.fs-16 {
}
.btn {
}
.fw-600 {
}
.px-2 {
}
.py-3 {
}
.btn-primary {
}
.btn-sm {
}
.text-uppercase {
}
.align-items-end {
}
.col-12 {
}
.col-sm-6 {
}
.box-border {
}
.box-circle {
}
.justify-content-center {
}
.align-items-center {
}
.accordion {
}
.card {
  // .card__btn
  &__btn {
  }
  // .card__subtitle
  &__subtitle {
  }
}
.mb-2 {
}
.me-4 {
}
.me-lg-0 {
}
.card-header {
}
.ps-0 {
}
.mb-0 {
}
.btn-link {
}
.btn-block {
}
.text-lg-start {
}
.d-lg-inline-block {
}
.text-white {
}
.text-decoration-none {
}
.fs-20 {
}
.d-block {
}
.collapse {
}
.card-body {
}
.col-3 {
}
.list-unstyled {
}
.collapsed {
}
.show {
}
