// Заголовки, общие БЄМ блоки и проче...

.title {
}

.subtitle {
}

.text {
}
.btn {
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-14 {
  font-size: 0.875rem;
  line-height: 1.22em;
}

.fs-16 {
  font-size: 1rem;
}

.fs-20 {
  font-size: 1.25rem;
  line-height: 1.2em;
}

.fs-24 {
  font-size: 1.5rem;
  line-height: 1.2em;
}
.col {
  flex: 1 0 0%;
}